<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title>Admin - Quiz</title>
        <link rel="stylesheet" href="css/style.css" type="text/css" />
        <link rel="stylesheet" href="css/admin.css" type="text/css" />
        <link rel="stylesheet" href="css/button.css" type="text/css" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body ontouchstart="">
        <div class="container white-bg">
            <div id="app">
                <div class="black">
                    <h1>Quiz Admin Panel - {{version}}</h1>
                </div>
                <div class="contestant-container">
                    <div class="contestant-cube" v-for="team in teams" v-bind:id="team.id">
                        <i v-if="hasAnswered(team.id)" class="material-icons checkmark">done</i>
                        <p>{{team.name}}</p>
                        <p>{{team.score}}</p>
                        <p>Connections: {{team.connections}}</p>
                    </div>
                </div>
                <hr>
                <div class="fl admin-questions black">
                    <p v-if="current_question === -1">Quiz not started yet</p>
                    <p v-else-if="current_question+1 < questions.length">Question: {{current_question+1}} (text-only)</p>
                    <p v-else>Quiz ended</p>
                    <p v-if="current_question+1 < questions.length">{{question}}</p>
                </div>
                <hr>
                <div class="control-container">
                    <button class="btn btn-1 btn-sep icon-play" v-if="current_question === -1" @click="onClickNext">Start Quiz</button>
                    <button class="btn btn-2 btn-sep icon-next" v-else-if="current_question < questions.length && showNextButton" @click="onClickNext">Next question</button>
                    <p class="black" v-else-if="current_question < questions.length && !showNextButton && current_question+1 !== questions.length">Wating for answers</p>
                    <button class="btn btn-3 btn-sep icon-refresh" v-else-if="current_question+1 == questions.length" @click="onReload">ENDE</button>
                    <button class="btn btn-4 btn-sep icon-answer" v-if="allAnswered() && !showNextButton" @click="onClickAnswer">Show Answer</button>
                </div>
                <hr>
                <div class="fl message-container"v-for="answer in answers.slice().reverse().slice(0, teams.length)">
                    Player: {{ getTeamById(answer.team_id).name }} | 
                    Question: {{ answer.question_id }} |
                    Answer: {{ answer.answer_id }} | 
                    Time: {{ answer.time }}
                </div>
            </div>
        </div>
        
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="js/admin.js"></script>
    </body>
</html>

